{% extends 'base.html.twig' %}

{% import 'macros/menu_macros.html.twig' as menuMacros %}

{% set queryParams = {
    itemsPerPage: app.request.query.get('itemsPerPage'),
    sort: app.request.query.get('sort'),
    category: app.request.query.get('category'),
} %}

{% block body %}
    <ul>
        {{ menuMacros.menuItems(categories, queryParams) }}
    </ul>

    {% for article in articlesPage %}
        <h2>{{ article.title }}</h2>
        <div>
            {{ article.announcement }}
            <a href="{{ url('view_article', { slug: article.slug }) }}">Read more &gt;&gt;</a>
        </div>
        <hr>
    {% endfor %}

    <div>
        {% for page in 1..articlesPage.totalPages %}
            <a href="{{ url('index', queryParams|merge({ page: page })) }}">{{ page }}</a>
        {% endfor %}
    </div>
{% endblock body %}